@model BookSalesApp.DTOs.LoginDTO
@{
    ViewData["title"] = "Login";
    Layout = "../Shared/_Layout.cshtml";
}
<h1>Login</h1>
<form method="post">
    <div class="txt_field">
        <input asp-for="Username" class="form-control" type="text" placeholder="Username" />
    </div>
    <span asp-validation-for="Username" class="text-danger"></span>
    <div class="txt_field">
        <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>
    @if (ViewData["error"] != null)
    {
        <p class="text-danger">@ViewData["error"]</p>
    }
    <input type="submit" value="Login">
    <a class="btn btn-success mb-3" id="btn" asp-controller="User" asp-action="Register">Register</a>
    @if (TempData["success"] != null)
    {
        <span class="text-success m-lg-3" id="message">@TempData["success"]</span>
    }
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}